header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
    padding: 30px, 10%;
    background-color: beige;
}

.road-button {
    height: 100%;
    width: 100%;
}

.road-runner {
    width: 17%;
}

.nav-bar {
    list-style: none;
}

.nav-bar li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-bar li a:hover{
    color: #232323;
}

.contact-us button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
}